body {
  background-color: #e1efff;
}


h1 {
  color: #2a224e;
  font-family:'Anton', sans-serif;
  font-weight: ;
  font-size: 40x;
}

h2 {
  color: #2e5c80;
  font-family: 'Roboto', sans-serif;
  font-size: 20x;

}
